
    <%-include('header')%>
    
    <h2><%- vaga.titulo %></h2>
    <br>
    <br>
    <br>
    <br>
    <div>

        <%- vaga.descricao %>
    </div>

<br>
<br>
<br>
<br>
<br>
<br>

    <%-include('footer')%>